@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
    --green: hsl(150, 100%, 63%);
    --purple-900: hsl(273, 85%, 13%);
    --purple-500: hsl(271, 12%, 34%);
    --purple-100: hsl(276, 100%, 99%);
    --white-color: hsl(0, 0%, 100%);
    --font-family-fraunces: "Fraunces", serif;
    --font-family-manrope: "Manrope", sans-serif;
}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "SOFT"0, "WONK"0;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.color_white {
    color: var(--white-color);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body,
input,
button {
    font-size: 18px;
    font-family: var(--font-family-manrope);
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

header {
    background: var(--purple-900);
    /* clip-path: ellipse(100% 70% at 50% 30%); */
    padding-top: 1.875rem;
}

.nav_section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

.nav_section img,
.nav_section a {
    max-width: 100%;
}

.nav_section a {
    text-decoration-color: var(--green);
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.7rem;
}

.text_intro {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.text_intro h1 {
    text-align: center;
    line-height: 3rem;
    font-size: 2.5rem;
}

.text_intro a {
    background: var(--green);
    text-decoration: none;
    color: var(--purple-900);
    padding: 1rem 2rem;
}

.mobile_image {
    position: relative;
    top: 4rem;
    margin: auto;
    z-index: 10;
}

.about_product {
    margin: 10rem auto;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.number {
    border: var(--purple-900) 1px solid;
    border-radius: 50%;
    /* width: 8%; */
    width: 2rem;
    height: 1.7rem;
    margin: auto;
}

.about_product_boys {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.about_product_boys_notes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about_product_boys h3 {
    color: var(--purple-900);
    font-family: var(--font-family-fraunces);
    font-size: 1.5rem;
}

.early_access_plus_founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-top: 7rem;
}

.founder_image {
    width: 80%;
    display: flex;
}

.founder_image img {
    width: 80%;
    margin: auto;
}

.early_access {
    background: var(--purple-900);
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2rem;
    position: relative;
    bottom: 2.3rem;
}

.early_access h2 {
    margin-top: 2rem;
}

.early_access p {
    width: 90%;
}

.early_access a {
    background: var(--green);
    text-decoration: none;
    color: var(--purple-900);
    padding: 1rem 2.5rem;
}

footer {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.social_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

@media screen and (min-width:30rem) {
    .mobile_image {
        width: 70%;
        display: flex;
    }
    .about_product_boys {
        flex-direction: row;
    }
    .number {
        width: 3rem;
    }
    .about_product_boys_notes {
        text-align: left;
        gap: 1rem;
    }
    .early_access_plus_founder {
        flex-direction: row;
    }
    .early_access {
        width: 60%;
        right: 4.5rem;
        top: 5rem;
    }
    .founder_image {
        flex-direction: row;
        width: 40%;
    }
    .founder_image img {
        position: relative;
        bottom: 7rem;
        left: 3rem;
    }
    footer {
        margin-top: 6rem;
    }
    .social_icons {
        width: 30%;
    }
}

@media screen and (min-width: 50rem) {
    .about_product {
        flex-direction: row;
        padding-inline: 0;
        /* margin-top: 15rem; */
    }
    .about_product_boys {
        flex-direction: column;
    }
    .about_product_boys_notes {
        text-align: center;
    }
    .number {
        width: 2rem;
    }
    footer {
        padding-top: 3rem;
    }
    .social_icons {
        width: 10%;
    }
}