@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
    --green: hsl(150, 100%, 63%);
    --purple-900: hsl(273, 85%, 13%);
    --purple-500: hsl(271, 12%, 34%);
    --purple-100: hsl(276, 100%, 99%);
    --white-color: hsl(0, 0%, 100%);
    --font-family-fraunces: "Fraunces", serif;
    --font-family-manrope: "Manrope", sans-serif;
}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "SOFT"0, "WONK"0;
}

.manrope {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    -webkit-font-smoothing: antialiased;
    width: 100%;
    /* margin: auto; */
    max-width: 100%;
    overflow-x: hidden;
}

body,
input,
button {
    font-size: 18px;
    font-family: var(--font-family-manrope);
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

header {
    background: var(--purple-900);
    /* padding: 1.875rem 1.25rem; */
    padding-top: 1.875rem;
    /* position: fixed; */
}

.nav_section {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    max-width: 100%;
    box-sizing: border-box;
}

.nav_section img,
.nav_section a {
    max-width: 100%;
}

.nav_section a {
    color: var(--white-color);
    text-decoration-color: var(--green);
    text-decoration-thickness: 0.4rem;
    text-underline-offset: 0.7rem;
}

.text_intro {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.text_intro h1 {
    color: var(--white-color);
    text-align: center;
    line-height: 3rem;
    font-size: 2.5rem;
}

.text_intro a {
    background: var(--green);
    text-decoration: none;
    color: var(--purple-900);
    padding: 1rem 2rem;
}

.mobile_image {
    position: relative;
    top: 4rem;
    margin: auto;
}